:root {
    --low-pure: #1e1e1e;
    --low-light: #666;
    --low-dark: #3d3d3d;
    --high-dark: #bbb;
    --high-light: #f5f5f5;
    --high-pure: #fff;
}

.swal2-popup:has(.opinion) {
    width: auto;
}

.opinion {
    border: 1px solid var(--low-light);
    border-radius: 4px;
    padding: 13px 16px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 500px;
}
.opinion:has(#chk-collapse:not(:checked)) {
    gap: 0;
}

.opinion * {
    font-family: inherit;
}

.opinion .evaluation-title {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
}
.opinion .evaluation-title .collapsible {
    color:#117C83;
    position: relative;
}
.opinion .evaluation-title .collapsible:after {
    content: 'Exibir \2304';
    cursor: pointer;
    position: absolute;
    right: 0;
}
.opinion:has(#chk-collapse:checked) .evaluation-title .collapsible:after {
    content: 'Esconder \2303';
    /*color: #117C83;*/
}
.opinion #chk-collapse:not(:checked) ~ .criteria-fields {
    max-height: 0;
    padding: 0;
    margin: 0;
    border: none;
    opacity: 0;
}
.opinion #chk-collapse:checked ~ .criteria-fields {
    max-height: 100px;
    display: initial;
}

.opinion #chk-collapse {display: none}

.opinion .evaluation-title h3 {
    font-size: 18px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 16px;
}

.opinion h5 {
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--low-pure);
}

.criteria-fields {
    border: 1px solid var(--high-dark);
    border-radius: 4px;
    padding: 16px;
    transition: all .4s ease-in-out 0s;
    overflow: hidden;
}

.criteria-status-valid, .criteria-status-invalid, .criteria-status-pending {
    /*height: 0;*/
    text-align: start;
    padding: 0;
    margin: 0;
}


.criteria-status-valid:before {
    content: '\01F7E2  Válida';
    color: green;
    font-size: 14px;
    font-weight: 700;
}
.criteria-status-invalid:before {
    content: '\01F534  Inválida';
    color: #ff2424;
    font-size: 14px;
    font-weight: 700;
}
.criteria-status-pending:before {
    content: '\01F7E1  Pendente';
    color: #ffd400;
    font-size: 14px;
    font-weight: 700;
}

.opinion-evaluation-obs {
    font-size: 14px;
    font-weight: 400;
    color: var(--low-pure);
    text-align: start;
    margin-top: 8px;
}